<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.project.travelboard.dto.TravelBoardDTO" alias="travelboard"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.SpotDTO" alias="spot"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.JoinUserDTO" alias="joinUser"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.LoginUserDTO" alias="loginUser"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.UserDTO" alias="user"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.ChangePasswordDTO" alias="changepassword"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.PhotoDTO" alias="photo"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.CommentDTO" alias="comment"></typeAlias>
        <typeAlias type="com.project.travelboard.dto.MapDTO" alias="map"></typeAlias>
    </typeAliases>
</configuration>