<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TravelBoard">
<!--    <insert id="save" parameterType="board">-->
<!--        insert into board_table(boardWriter, boardPass, boardTitle, boardContents)-->
<!--        values(#{boardWriter}, #{boardPass}, #{boardTitle}, #{boardContents})-->
<!--    </insert>-->

    <select id="spotFindAll" resultType="spot">
        SELECT
            travel_spot.spot_name,
            travel_spot.like_cnt,
            user.nickname,
            travel_spot.img_name,
            COUNT(comment.id) AS commentCount,
            map.road_name
        FROM
            travel_spot
                LEFT JOIN user ON travel_spot.user_id = user.id
                LEFT JOIN map ON travel_spot.map_id = map.id
                LEFT JOIN comment ON travel_spot.id = comment.spot_id
        GROUP BY
            travel_spot.id
        order by
            travel_spot.like_cnt desc
    </select>


    <insert id = "joinUser" parameterType="joinUser">
        insert into user(login_id, login_password, nickname)
        values(#{id}, #{password}, #{nickname})


    </insert>

    <select id =  "loginUser" parameterType="loginUser" resultType="loginUser">
        select * from user where login_id =#{login_id} and login_password = #{login_password}

    </select>


    <select id = "getUserInfo" parameterType="Integer" resultType="user">
        select * from user where id = #{id}

    </select>

    <update id = "changePassword" parameterType="changePassword">
        update user set login_password=#{changingPassword}where id=#{userId}

    </update>

    <update id = "changeNickname" parameterType="user">
        update user set nickname=#{nickname}where id=#{id}

    </update>




</mapper>